- import quickstart.action._

!!! 5
html
  head
    != antiCsrfMeta
    != xitrumCss

    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    title Camera Tracker

    link(rel="shortcut icon" href={publicUrl("favicon.ico")})

    link(type="text/css" rel="stylesheet" media="all" href={webJarsUrl("bootstrap/3.2.0/css", "bootstrap.css", "bootstrap.min.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("app.css")})
    :!javascript
        window.sockjsURL = '#{webJarsUrl("sockjs-client/0.3.4/sockjs.js")}';
        window.jqueryURL = '#{webJarsUrl("jquery/2.1.1/jquery.js")}';
        window.underscoreURL = '#{webJarsUrl("underscorejs/1.7.0/underscore.js")}';
        window.angularjsURL = '#{webJarsUrl("angularjs/1.3.0/angular.js")}';
        window.angularRouteURL = '#{webJarsUrl("angularjs/1.3.0/angular-route.js")}';
        window.bootstrapURL = '#{webJarsUrl("bootstrap/3.2.0/js/bootstrap.js")}';
    script(src={webJarsUrl("requirejs/2.1.14-3", "require.js", "require.min.js")})


  body
    .container
      h1
        a(href={url[SiteIndex]}) Camera Tracker

      #flash
        !~ jsRenderFlash()
      != renderedView

      ul.menu
        li
          a(href="#/view1") view1

      div(ng-view)

      script(src={publicUrl("js/main.js")})


